@import "tailwindcss";
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.king_pong{
	fill-opacity: 0;
	stroke: #000;
	stroke-width: 2px;
	stroke-dasharray: 330;
	stroke-dashoffset: 330;
	animation: titleAnimation 2s ease-in-out 1 forwards;
}

@keyframes titleAnimation {
	0%{
		stroke-dashoffset: 330;
	}
	80%{
		fill-opacity: 0;
	}
	100%{
		fill-opacity: 100;
		stroke-dashoffset: 0;
	}
}

.rotate-parent {
  display: inline-block;
  animation: subtleRotate 4s ease-in-out infinite;
  transform-origin: right;
  position: absolute;     /* or fixed, depending on behavior you want */
  top: 0;                 /* start at the top */
  right: 0;
  height: 100vh;          /* optional: full height of viewport */
  display: flex;
  align-items: center;    /* vertical centering, optional */
  justify-content: flex-end; /* push content to the edge */
  pointer-events: none;   /* optional: let clicks pass through if it's decorative */
  max-width: 20vw;
}
.rotate-hover {
  display: inline-block;
  transition: transform 2s ease;
  transform-origin: right;
  pointer-events: auto;
}

.rotate-parent:hover .rotate-hover {
  transform: rotate(20deg);
}

	/* KEYFRAMES  */

	@keyframes smallPositiveRotation{
		from{
			transform: rotateZ(0deg);
		}
		to{
			transform: rotateZ(5deg);
		}
	}

	@keyframes smallNegativeRotation{
		from{
			transform: rotateZ(0deg);
		}
		to{
			transform: rotateZ(5deg);
		}
	}
	@keyframes verySmallPositiveRotation{
		from{
			transform: rotateZ(0deg);
		}
		to{
			transform: rotateZ(2deg);
		}
	}

	@keyframes verySmallNegativeRotation{
		from{
			transform: rotateZ(0deg);
		}
		to{
			transform: rotateZ(-2deg);
		}
	}

	@keyframes subtleRotate {
	  0%   { transform: rotate(0deg); }
	  50%  { transform: rotate(5deg); }
	  100% { transform: rotate(0deg); }
	}